/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Tab Content Styles */
.tab-content {
    display: none;
    padding: 20px;
}

.tab-content.active {
    display: block;
}

/* Carousel Styles */
.carousel-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 20px; /* Adjust as needed */
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-image {
    width: calc(100% / 4); /* Adjust size as needed */
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-button:first-of-type {
    left: 0;
}

.carousel-button:last-of-type {
    right: 0;
}


.tab-content.active
